extends ./layouts/overlay

block overlay
  #recipe
    h1 Recipe

    input(type='button' value='Close' onClick='(#{close})("recipe")')

    h2 Ingredients

    ul#ingredients
      each ingredient in recipe.ingredients
        li #{ingredient}

    h2 Method

    ol#methods
      each method in recipe.methods
        li #{method}
