extends ./layouts/overlay

block overlay

  input#close-focused(type='button' value='Close')
  input#previous(type='button' value='previous')
  input#next(type='button' value='next')

  #focused-text
    span.index #{index + '.'}
    span.text #{text}
